
<div id="about">


  <div class="section group center-text container">
    <div class="col span_1_of_3">

      <img src="icon-design.png" id="about-icon1" alt="Icon">

      <h1>
        BRANDING
      </h1>
      <p>Clients typically hire us to help improve existing productsClients typically hire us to help improve existing products Clients typically hire us to help improve existing products Clients typically hire us to help improve existing products Clients typically hire us to help improve existing products </p>
    </div>
    <div class="col span_1_of_3">
      <img src="icon-design.png" id="about-icon2" alt="Icon">
      <h1>
        DESIGN
      </h1>
      <p>Clients typically hire us to help improve existing productsClients typically hire us to help improve existing products Clients typically hire us to help improve existing products Clients typically hire us to help improve existing products Clients typically hire us to help improve existing products </p>
    </div>
    <div class="col span_1_of_3">
      <img src="icon-design.png" id="about-icon3" alt="Icon">
      <h1>
        DEVELOPMENT
      </h1>
      <p>Clients typically hire us to help improve existing productsClients typically hire us to help improve existing products Clients typically hire us to help improve existing products Clients typically hire us to help improve existing products Clients typically hire us to help improve existing products </p>
    </div>
  </div>


</div>
