<div id="banner" class="center-text">

  <%= render partial: "shared/navbar" %>

  <div id="banner-title">
    <h4>WE ARE</h4>
    <h1>Danger</h1>
  </div>

  <div class="section group medium-container">
    <div id="banner-desc">
      <p>
        WE DESIGN AND BUILD AWESOME MOBILE APPS AND WEBSITES
      </p>
    </div>
  </div>

</div>

<div id="second-banner" class="center-text">
  <div class="section group container">
    <h1>
      OUR MANIFESTO
    </h1>
    <p>We work with established businesses & startups.  Clients typically hire us to help improve existing products & websites or design & prototype entirely new ones.</p>
  </div>
</div>
