<div id="footer">

  <div id="top-footer" class="section group center-text">
    <div class="section group center-text">
      <h1>
        HIRE US
      </h1>
      <p class="medium-container">
        Are you working on something great? We'd love to help make it happen. Get in touch now!
      </p>
    </div>

    <div id="form" class="medium-container">
      <div class="section group">
        <div class="col span_1_of_2 graybox">

        </div>
        <div class="col span_1_of_2 graybox">

        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_2 graybox">

        </div>
        <div class="col span_1_of_2 graybox">

        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_1 graybox-large">

        </div>
      </div>

      <div id="send-button">
        <p>SEND</p>
      </div>
    </div>

  </div>

  <div id="bottom-footer" class="clearfix section group center-text">
    <div id="footer-logo">

      <img id="danger-icon" src="danger-icon.png" alt="Icon">

    </div>

  </div>

</div>
