<div id="navbar" class="section group mini-container center-text">
  <div class="col span_1_of_4">
    <p>HOME</p>
  </div>
  <div class="col span_1_of_4">
    <p>ABOUT</p>
  </div>
  <div class="col span_1_of_4">
    <p>WORK</p>
  </div>
  <div class="col span_1_of_4">
    <p>HIRE US</p>
  </div>
</div>
