<!-- Section 2 -->
<section id="quote1" data-speed="2" data-type="background">
  <div classs="black-overlay">
    <div class="section group container">

      <div id="nyc-quote" class="center-text">
        <h2>New York City is our hood, but no worries we work anywhere.</h2>
      </div>

    </div>
  </div>
</section>
